.calculator {
  width: 300px;
  margin: 100px auto;
  background-color: rgb(216, 200, 231);
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}
.colo{
  background-color: rgb(35, 7, 63);
}
#display {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  font-size: 20px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  padding: 20px;
  font-size: 20px;
  background-color: rgb(216, 200, 231);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #b0c4de;
}

/* Media Query for smaller screens */
@media (max-width: 600px) {
  .calculator {
      width: 90%;
      margin: 50px auto;
      padding: 10px;
  }
  
  button {
      padding: 10px;
      font-size: 16px;
  }
}
